.display {

    grid-column: span 4;
    background-color: #0004;

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px;
    font-size: 1.8em;
    font-weight: 800;
}

.display span {

    font-size: 0.8em;
}

.scroll {
    
    overflow: hidden;
}
.scroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.scroll::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(165, 204, 130, 0.5);
    border-radius: 5px;
}
.scroll::-webkit-scrollbar-thumb {
    border-radius: 5px;
    box-shadow: inset 0 0 6px rgba(165, 204, 130, 1.0);
}