.DisplayMega {

    margin: 10px;
}

.DisplayMega h2 {

    font-size: 1.2rem;
    font-weight: 400;
    color: #fff;
    
    display: inline-flex;

    border-radius: 60px;

    padding: 5px;
    margin: 5px;

}

.Pair {

    border: 2px solid #41D4CF;
    background-color: #25AAA0;
}

.Odd {
    
    border: 2px solid #25AAA0;
    background-color: #41D4CF;
}